* {
  font-family: "Nunito", sans-serif;
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #ff5722;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 7vh;
}

.App-logo-lg {
  width: calc(200px + 10vmin);
}

.App-logo-xs {
  height: 4vh;
}

.animate__animated.animate__rotateIn {
  --animate-duration: 3s;
}

a {
  color: #ffffff;
  text-decoration: underline #ffffff90;
  margin-bottom: auto;
}

a:hover {
  color: #222831;
}

.example {
  width: 95vw;
  max-width: 400px;
}

/* Utilities  */
.x-large {
  font-size: calc(10px + 4vmin);
}

.large {
  font-size: calc(10px + 3vmin);
}

.medium {
  font-size: calc(10px + 2vmin);
}

.small {
  font-size: calc(10px + 1vmin);
}

.bold {
  font-weight: 600;
}

.x-bold {
  font-weight: 700;
}

.xx-bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.dark {
  color: #222831;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container-space-btw {
  display: flex;
  justify-content: space-between;
}

.margin-tb-l {
  margin: 4vmin 0;
}

.margin-tb-m {
  margin: 2vmin 0;
}

.margin-lr-m {
  margin: 0 2vmin;
}

.margin-tb-sm {
  margin: 1vmin 0;
}

.margin-lr-sm {
  margin: 0 1vmin;
}

/* Navbar */
.navbar {
  height: 6vh;
}

.navbar-brand {
  margin: 0 auto;
  padding-left: calc(4px + 1vmin);
  padding-right: calc(4px + 1vmin);
  cursor: pointer;
  background-color: #2a2f34;
  height: 6vh;
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 28px;
}

.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
  height: 6vh;
}

.navbar-nav > a {
  color: #ffffff;
  flex: 1;
  text-align: center;
  font-size: 20px;
  border-right: 0.5px #ffffff30 solid;
}

/* Account */
.account-container {
  justify-content: flex-start;
}

.option {
  width: 100%;
  padding: 4vmin;
  margin: 1px 0;
  background-color: #ffffff20;
  cursor: pointer;
}

.option:hover {
  background-color: #eeeeee;
  color: #222831;
}

/* Sign up */
.pw-strength > p {
  color: #ffffff;
}

.geo-select {
  border-radius: 0.35rem;
  border: none;
  width: 100%;
  padding: 0.375rem 0.75rem;
}

/* My pets */
.carousel {
  width: 100%;
  min-height: 60vh;
  margin: 2vmin 0;
}

.carousel-item {
  min-height: 60vh;
  cursor: pointer;
}

.profile-lg {
  object-fit: cover;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-color: #eeeeee50;
}

.hint {
  text-align: end;
  margin: auto calc(20px + 2vmin) calc(20px + 1vmin) auto;
}

.hint-left {
  text-align: start;
  margin-left: calc(10px + 2vmin);
  margin-right: auto;
}

.guide-arrow {
  width: 40vmin;
}

/* Pet form */
.form-floating > label {
  padding: 0.75rem;
}

.react-select__control {
  border-radius: 0.375rem !important;
}

.react-select__placeholder,
.react-select__single-value,
.react-select__menu,
.form-check {
  text-align: start;
}

/* Pet events */
.profile {
  position: absolute;
  top: 5vh;
}

.profile-sm {
  object-fit: cover;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background-color: #eeeeee50;
}

.events-container {
  width: 97%;
  max-width: 530px;
  margin-top: 25vh;
  margin-bottom: auto;
  z-index: 99;
}

.accordion-button {
  padding: 2vmin;
}

.day-events-container {
  padding: 0;
}

.event-item {
  align-items: center;
  padding: calc(2px + 1vmin);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Event form */
.profile-xs {
  object-fit: cover;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: #eeeeee50;
}

.form-check-input:checked {
  background-color: #2d4059;
  border-color: #2d4059;
}

/* Event details */
.mobile-width-container {
  width: 96vw;
  max-width: 500px;
}

.event-photo {
  max-height: 30vh;
}

.graph-container {
  background-color: #eeeeee;
  border-radius: 1vmin;
  padding: calc(10px + 1vmin);
}

/* Reminders */
.toast-container {
  width: 95vw;
  max-width: 500px;
}

.toast {
  width: 100%;
}

/* Buttons */
.bottom-btn-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 2vh;
  bottom: 8vh;
  cursor: pointer;
}

.top-btn-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 2vmin;
  left: 2vmin;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.custom-btn {
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
}

.btn-light {
  width: calc(90px + 3vw);
}

/* Chat */
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #f9f5eb;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.chat {
  width: 100%;
  height: 94vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f5eb;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #d1512d;
  cursor: pointer;
  color: #eae3d2;
}
.message__container {
  width: 100%;
  height: 74vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #f9f5eb;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(129, 201, 129);
}
.message__recipient {
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.message__sender {
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 15vh;
  font-size: 13px;
  font-style: italic;
}
