* {
  font-family: "Nunito", sans-serif;
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #ff5722;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

/* Utilities  */
.x-large {
  font-size: calc(10px + 4vmin);
}

.large {
  font-size: calc(10px + 3vmin);
}

.medium {
  font-size: calc(10px + 2vmin);
}

.small {
  font-size: calc(10px + 1vmin);
}

.bold {
  font-weight: 600;
}

.x-bold {
  font-weight: 700;
}

.dark {
  color: #222831;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-space-btw {
  display: flex;
  justify-content: space-between;
}

.margin-tb-l {
  margin: 4vmin 0;
}

.margin-tb-m {
  margin: 2vmin 0;
}

.margin-lr-m {
  margin: 0 2vmin;
}

.margin-tb-sm {
  margin: 1vmin 0;
}

.margin-lr-sm {
  margin: 0 1vmin;
}

/* Navbar */
.navbar {
  max-height: 8vh;
}

.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
}

.navbar-nav > a {
  width: 32%;
  text-align: center;
}

.navbar-nav > a:hover {
  background-color: #eeeeee;
  color: #222831;
}

/* Account */
.account-container {
  justify-content: flex-start;
}

.option {
  width: 100%;
  padding: 4vmin;
  margin: 1px 0;
  background-color: #ffffff20;
  cursor: pointer;
}

.option:hover {
  background-color: #eeeeee;
  color: #222831;
}

/* Sign up */
.pw-strength > p {
  color: #ffffff;
}

/* My pets */
.carousel {
  width: 100%;
  min-height: 60vh;
  margin: 2vmin 0;
}

.carousel-item {
  min-height: 60vh;
  cursor: pointer;
}

.profile-lg {
  object-fit: cover;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}

/* Pet form */
.form-floating > label {
  padding: 0.75rem;
}

.react-select__control {
  border-radius: 0.375rem !important;
}

.react-select__placeholder,
.react-select__single-value,
.react-select__menu,
.form-check {
  text-align: start;
}

/* Pet events */
.profile-sm {
  object-fit: cover;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
}

.events-container {
  width: 100%;
  max-width: 500px;
}

.accordion-button {
  padding: 2vmin;
}

.day-events-container {
  padding: 0;
}

.event-item {
  padding: 1vmin;
  /* border: 0.5px #ffffff solid; */
}

/* Event form */
.profile-xs {
  object-fit: cover;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}

.form-check-input:checked {
  background-color: #2d4059;
  border-color: #2d4059;
}

/* Buttons */
.bottom-btn-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: calc(10px + 1vmin);
  bottom: calc(10px + 1vmin);
}

.top-btn-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 2vmin;
  left: 2vmin;
}

.custom-btn {
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
}

.btn-light {
  width: calc(90px + 3vw);
}
