* {
  font-family: "Nunito", sans-serif;
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #ff5722;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 7vh;
}

.App-logo-lg {
  width: calc(200px + 10vmin);
}

.App-logo-xs {
  height: 5vh;
}

.animate__animated.animate__rotateIn {
  --animate-duration: 3s;
}

a {
  color: #ffffff;
  text-decoration: underline #ffffff90;
  margin-bottom: auto;
}

a:hover {
  color: #222831;
}

.example {
  width: 95vw;
  max-width: 400px;
}

/* Utilities  */
.x-large {
  font-size: calc(10px + 4vmin);
}

.large {
  font-size: calc(10px + 3vmin);
}

.medium {
  font-size: calc(10px + 2vmin);
}

.small {
  font-size: calc(10px + 1vmin);
}

.bold {
  font-weight: 600;
}

.x-bold {
  font-weight: 700;
}

.xx-bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.dark {
  color: #222831;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container-space-btw {
  display: flex;
  justify-content: space-between;
}

.margin-tb-l {
  margin: 4vmin 0;
}

.margin-tb-m {
  margin: 2vmin 0;
}

.margin-lr-m {
  margin: 0 2vmin;
}

.margin-tb-sm {
  margin: 1vmin 0;
}

.margin-lr-sm {
  margin: 0 1vmin;
}

/* Navbar */
.navbar {
  height: 6vh;
}

.navbar-brand {
  margin: 0 auto;
  padding-left: calc(4px + 1vmin);
  padding-right: calc(4px + 1vmin);
  cursor: pointer;
}

.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
  height: 6vh;
}

.navbar-nav > a {
  color: #ffffff;
  flex: 1;
  text-align: center;
  font-size: 20px;
  border-left: 0.5px #ffffff30 solid;
}

/* Account */
.account-container {
  justify-content: flex-start;
}

.option {
  width: 100%;
  padding: 4vmin;
  margin: 1px 0;
  background-color: #ffffff20;
  cursor: pointer;
}

.option:hover {
  background-color: #eeeeee;
  color: #222831;
}

/* Sign up */
.pw-strength > p {
  color: #ffffff;
}

.geo-select {
  border-radius: 0.35rem;
  border: none;
  width: 100%;
  padding: 0.375rem 0.75rem;
}

/* My pets */
.carousel {
  width: 100%;
  min-height: 60vh;
  margin: 2vmin 0;
}

.carousel-item {
  min-height: 60vh;
  cursor: pointer;
}

.profile-lg {
  object-fit: cover;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-color: #eeeeee50;
}

.hint {
  text-align: end;
  margin: auto calc(20px + 2vmin) calc(20px + 1vmin) auto;
}

.hint-left {
  text-align: start;
  margin-left: calc(10px + 2vmin);
  margin-right: auto;
}

.guide-arrow {
  width: 40vmin;
}

/* Pet form */
.form-floating > label {
  padding: 0.75rem;
}

.react-select__control {
  border-radius: 0.375rem !important;
}

.react-select__placeholder,
.react-select__single-value,
.react-select__menu,
.form-check {
  text-align: start;
}

/* Pet events */
.profile {
  position: absolute;
  top: 5vh;
}

.profile-sm {
  object-fit: cover;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background-color: #eeeeee50;
}

.events-container {
  width: 97%;
  max-width: 530px;
  margin-top: 25vh;
  margin-bottom: auto;
  z-index: 99;
}

.accordion-button {
  padding: 2vmin;
}

.day-events-container {
  padding: 0;
}

.event-item {
  align-items: center;
  padding: calc(2px + 1vmin);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Event form */
.profile-xs {
  object-fit: cover;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: #eeeeee50;
}

.form-check-input:checked {
  background-color: #2d4059;
  border-color: #2d4059;
}

/* Event details */
.mobile-width-container {
  width: 96vw;
  max-width: 500px;
}

.event-photo {
  max-height: 30vh;
}

.graph-container {
  background-color: #eeeeee;
  border-radius: 1vmin;
  padding: calc(10px + 1vmin);
}

/* Reminders */
.toast-container {
  width: 95vw;
  max-width: 500px;
}

.toast {
  width: 100%;
}

/* Buttons */
.bottom-btn-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: calc(10px + 1vmin);
  bottom: calc(5px + 6vh);
}

.top-btn-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 2vmin;
  left: 2vmin;
}

.custom-btn {
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
}

.btn-light {
  width: calc(90px + 3vw);
}
